.bor{
    border: 1px solid black;
  }
.sidenav{
    float: left;
    width: 30%;
    border: 1px solid black;
  }
  .content{
      margin-left: 2%;
      float: left;
      width: 65%;
      border: 1px solid black;
  }
  .sidenav-btns{
      align-items: center;
    display: block;  }

  .btn-s1{
    background-color: #dadada;
    display: block;
    
  }
.contentHead{
    text-align: center;
}
  .btn-s1:hover{
      background-color: #4f0003;
      color: white;
  }

  .btn-click{
    background-color: #4f0003;
    color: white;
  }
  /*maroon color #4f0003 */
/* grey color #dadada */