/* =======================================================
 Author: [Anita Kumari] (an954221@dal.ca)
=======================================================  */

.bidding-main-content{
    min-height:750px;
}

.bidding-header{
    color:#4F0003;
    font-weight:700;
}

.font-awesome-icon-img{
    margin-right: 2%;
    font-size: 23px;
    margin-top: 1.5%;
    color: #800020;
}

.bidding-dashboard-header{
    display: flex;
    justify-content: space-between;
    background-color: #fff;    
}