/* Authored by Meshwa Savalia, B00890170, ms959884@dal.ca
 */ /* table {
    width: 80%;
    margin-top: 300px;
    margin-left: 30px;
  }
  .mat-card-image{
    margin-bottom: 0px;
    width: 80px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.itemDesc{
    text-align: left;
}
.value{
  text-align: right;
}
.btn {
  background-color: #20332c;
  color: #f2f5f7;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;

  opacity: 0.9;
  font-size:16px;
  border-radius:10px;
} */
.mat-card-image{
  margin-bottom: 0px;
  width: 80px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;

}
.btn{
  color:white;
  background-color: black;
}
.checkout{
  border: 1cm;
  border-color: black;
}
tr:hover{
-webkit-box-shadow: 0 0 2px 2px rgb(141, 126, 126);
box-shadow: 0 0 2px 2px rgb(184, 165, 165); 
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;  
}/* 
.plus{
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px 16 px;
}
.minus{
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.plusminus{
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
 */