/* =======================================================
 Author: [Anita Kumari] (an954221@dal.ca)
=======================================================  */

.bidding-main-content{
    min-height:750px;
}

.bidding-header{
    color:#4F0003;
    font-weight:700;
}